<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AngularJS Patterns</title>

    <style>
    
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
        </style>
</head>

<body>
    <h1>AngularJS Patterns</h1>

    <div data-ng-app="myApp">

        <div data-ng-controller="DemoController">
            <div  class="ng-cloak">
                The cat is: {{ catName}}
            </div>

            <div>
                <input type="text" ng-model="catName">
            </div>
            <div ng-if="true">
                <input type="text" ng-model="catName">
            </div>

            <div>
                The cat is: <span ng-bind="cat.name"></span>
            </div>

            <div>
                <input type="text" ng-model="cat.name">
            </div>
            <div ng-if="true">
                <input type="text" ng-model="cat.name">
            </div>

            <ul class="ng-cloak">
                <li ng-repeat="i in [1,2,3]">
                    {{i}}
                </li>
            </ul>
        </div>
    </div>
<!--
    <script src="/node_modules/angular/angular.js"></script>
    <script src="demo.js"></script>-->
    <script src="demo.bundle.js"></script>
</body>

</html>